/* Styl dla przycisku "Zaloguj" */

#loginBtn {
    -fx-layout-x: 131.0;
    -fx-layout-y: 269.0;
    -fx-pref-height: 26.0;
    -fx-pref-width: 150.0;

    -fx-text-fill: #fff;
    -fx-background-color: #28a745;
    -fx-border-color: #28a745;
}

#loginBtn:hover{
    -fx-cursor: hand;
    -fx-background-color: #218838 ;
}

/* Styl dla etykiety "Nazwa użytkownika" */
.label {
    -fx-alignment: center;
}

#usernameLabel {
    -fx-layout-x: 1.0;
    -fx-layout-y: 191.0;
    -fx-pref-height: 18.0;
    -fx-pref-width: 413.0;
}

/* Styl dla pola tekstowego "loginUsernameForm" */
#loginUsernameForm {
    -fx-layout-x: 133.0;
    -fx-layout-y: 210.0;
}

/* Styl dla etykiety "Nieprawidłowa nazwa użytkownika" */
#loginErrorMessage {
    -fx-alignment: center;
    -fx-layout-x: -1.0;
    -fx-layout-y: 243.0;
    -fx-pref-height: 18.0;
    -fx-pref-width: 413.0;
    -fx-text-fill: red;
    -fx-opacity: 0;
}

/* Styl dla obrazu ImageView */
.image-view {
    -fx-fit-height: 150.0;
    -fx-fit-width: 200.0;
    -fx-layout-x: 133.0;
    -fx-layout-y: 34.0;
    -fx-preserve-ratio: true;
    -fx-pick-on-bounds: true;
}