#myListsButton, #availableProductsBtn {
    -fx-layout-x: 131.0;
    -fx-layout-y: 269.0;
    -fx-pref-height: 26.0;
    -fx-pref-width: 150.0;

    -fx-text-fill: #fff;
    -fx-background-color: #28a745;
    -fx-border-color: #28a745;
    /*-fx-border-radius: 5;*/
}

#myListsButton:hover, #availableProductsBtn:hover{
    -fx-cursor: hand;
    -fx-background-color: #218838 ;
}